

@media screen and (max-width:688px){
    body{
        box-sizing: border-box;
        max-width: 688px;
        width: 100%;
        background-color: blanchedalmond;
    }
    .section-one{
        flex-direction: column;
        width: 100%;
    }
    p{
        width: 90%;
    }
    .container-one-right>img{
        width: 60%;
        padding-top: 150px;
    }
    .section-three-logos{
        width: 30%;
        flex-direction: column;
        flex-wrap: wrap;
        grid-template-columns: repeat(1,1fr);
    }
    .card-container{
        box-sizing: border-box;
        width:100%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .last-container{
        box-sizing: border-box;
        width: 60%;
        height: 100%;
        display:grid;
        float: left;
        margin-right: 400px;
        margin-bottom: 400px;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        align-items: center;
    }
    .order-section{
       display:grid;
       grid-template-columns: repeat(1, 1fr);
    }
    .more-items{
        display: none;
    }
    .footer{
        margin-top: 400px;
        width: 80%;
        height: 100px;
        display: none;
    }

    
   }